[submodule "themes/next"]
	path = themes/next
	url = https://github.com/theme-next/hexo-theme-next
[submodule "源/lib/bookmark"]
	path = 源/lib/bookmark
	url = https://github.com/theme-next/theme-next-bookmark
[submodule "源/lib/reading_progress"]
	path = 源/lib/reading_progress
	url = https://github.com/theme-next/theme-next-reading-progress
